* {
    margin: 0;
    padding: 0
}

html, body {
    background-color: #151515;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

@font-face {
    font-family: Amethyst;
    src: url("/static/fonts/Amethyst.ttf")
}

@font-face {
    font-family: ActionOfTheTime;
    src: url("/static/fonts/action-of-the-time-new.ttf")
}

@font-face {
    font-family: Elianto;
    src: url("/static/fonts/elianto.otf")
}

@font-face {
    font-family: Neontubes;
    src: url("/static/fonts/NeonTubes2.otf")
}

body::-webkit-scrollbar {
    width: 0 !important
}

a {
    text-decoration: none;
}

.fixed {
    position: fixed;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

.navbar {
    visibility: hidden
}

.logo {
    visibility: hidden
}

#loader {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
    background-color: #0c0c0c;
}

.elem {
    border-radius: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left-color: #5C8D8D;
    border-right-color: #5C8D8D;
}

.elem-outer {
    width: 60px;
    height: 60px;
    transform: rotate(deg);
}

.elem-inner {
    width: 50px;
    height: 50px;
    transform: rotate(60deg);
}

.elem-inner-2 {
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
}

@-webkit-keyframes rotating
/* Safari and Chrome */

    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s ease-in-out infinite;
    -moz-animation: rotating 2s ease-in-out infinite;
    -ms-animation: rotating 2s ease-in-out infinite;
    -o-animation: rotating 2s ease-in-out infinite;
    animation: rotating 2s ease-in-out infinite;
}

.loaderWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
}